body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: aquamarine;
}
#text{
    margin-top: 10px;
    font-size: 20px;
}
button{
    margin:20px;
    padding: 5px;
    border: 2px solid black;
    font-size: 20px;
}
